.App {
  text-align: center;
}

.header {
  background-color: #84a8bc;
  color: white;
  padding-top: 25px;
  padding-bottom: 24px;
}

.searchArea {
  background-color: orange;
  padding-top: 28px;
  padding-bottom: 28px;
}

.searchBar{
  padding-bottom: 15px;

}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  font-size: 25px;
  color: #84a8bc;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn:hover {
  cursor: pointer;

}

.btn {
  background-color: #84a8bc;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 11px;
  font-weight: bold;
  border-radius: 4px;
}

.coinsContainer{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.coin{
  width:250px;
  height:200px;
  background: lightblue;
  border: 2px solid orange;
  border-radius: 5px;
  margin: 3px;
}
